.chat-bot-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 640px ; */
}

.chat-bot {
  width: 600px;
  height: 300px;
  background-color: #2a3335;
  border-radius: 10px;
  padding: 10px 10px;
  font-family: monospace;
  display: flex;
  flex-direction: column;
}

.chat-bot > h1 {
  margin: 0;
  font-size: 25px;
  padding: 10px;
}

.chat-bot > .chat-function-container {
  background-color: black;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 10px;
  gap: 1px;
}

.text-showcase {
  height: 170px;
  overflow-y: scroll;
}

.text-showcase::-webkit-scrollbar {
  width: 5px;
}

.text-showcase::-webkit-scrollbar-thumb {
  background: #f1f1f1; /* Color of the track */
  
}

.text-showcase::-webkit-scrollbar-track {
    background: #888; /* Color of the scroll thumb */
}

.text-showcase > p {
  padding: 0;
  margin: 0;
}

.user-responses-form > div {
  display: flex;
  width: 100%;
  gap: 10px;
  background-color: black;
  padding-top: 10px;
}

.user-responses-form > div > input {
  width: 80%;
  height: 30px;
  border-radius: 0;
  padding-left: 10px;
  font-family: monospace;
  border: #4CAF50 1px solid;
}

.user-responses-form > div > input::placeholder{
    color: antiquewhite;
}

.user-responses-form > div > button {
  width: 20%;
  font-weight: 700;
  font-size: large;
  border-radius: 0;
  font-family: "Courier New", Courier, monospace;
  background-color:  #66BB6A ;
  border: 0;
  color: black;
}

@media (max-width: 1000px) {
  .chat-bot {
    width: 500px;
  }
}

@media (max-width: 700px) {
  .chat-bot {
    width: 400px;
  }
  .chat-bot > h1 {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .chat-bot {
    width: 300px;
    padding: 0;
  }

  .chat-bot > .chat-function-container {
    border-radius: 0px 0 10px 10px;
  }

  .chat-bot > h1 {
    font-size: 18px;
  }

  .user-responses-form > div > button{
    font-size: small;
  }
}
